version: "3.8"
services:
  ngrok:
    image: ngrok/ngrok:latest
    ports:
      - "4040:4040"
    command:
      - "http"
      - "host.docker.internal:8000"
    environment:
      NGROK_AUTHTOKEN: "${NGROK_AUTHTOKEN}"
